<!DOCTYPE html>
<html>
<head>
    <title><%=voter.displayName%>，给小孩选名字 - 投票</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/plugins/jquery-ui-1.10.3/css/sunny/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />

    <script src="/plugins/jquery-2.0.3/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/plugins/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
</head>
<body>
    <h1><%=voter%>，请给小孩选名字 - 投票</h1>
    <p>点击相应的按钮选择您喜欢的或者讨厌的名字</p>
    <div id="NamesContainer">
        <% var nameCategories = [
                    {id: "PreferredNames", category: "喜欢的名字", list: nameCandidates.preferred},
                    {id: "DislikedNames", category: "不喜欢的名字", list: nameCandidates.disliked},
                    {id: "PendingNames", category: "待定的名字", list: nameCandidates.pending},
                    {id: "UnvotedNames", category: "未投票的名字", list: nameCandidates.unvoted}
                ];

                for( var i in nameCategories) { 
                    var category = nameCategories[i];
        %>
                    <div id="<%=category.id%>">
                        <p class="name-candidate-category"><%=category.category%></p>
                        <% for (var j in category.list) { %>
    		                    <% nameCandidate = category.list[j] %>
                                <div class="name-candidate" data-id="<%=nameCandidate._id || ''%>">
                                    <span class="name-candidate-text"><%=nameCandidate.name%></span>
                                    <button class="name-candidate-like">喜欢</button>
                                    <button class="name-candidate-dislike">排除</button>
                                    <button class="name-candidate-pending">待定</button>
                                </div>
                        <% } %>
                    </div>      
        <% } %>
    </div>
    <script type="text/javascript">

        function moveName(nameElement, moveTo, cb) {
            nameElement.fadeOut('fast', function () {
                moveTo.append(nameElement);
                nameElement.fadeIn('slow', cb);
            });
        };

        function updateName(nameElement, score, cb) {
            var queryParams = {
                id: nameElement.data("id"),
                name: nameElement.find(".name-candidate-text").text(),
                score: score
            };
            var jqxhr = $.get('/<%=voter%>/voteFor', queryParams);
            jqxhr.done(function (data) {
                console.log(data._id);
                nameElement.attr("data-id", data._id);
                cb(null, nameElement);
            });
            jqxhr.fail(function () {
                cb("Error");
            });
        }

        $(document).ready(function () {            
            $("button").button();
            $("button.name-candidate-like").click(function () {
                var that = this;
                updateName($(this).parent(), 1, function (err) {
                    if (err)
                        alert('不明原因的错误');
                    else
                        moveName($(that).parent(), $("#PreferredNames"));
                });
            });
            $("button.name-candidate-dislike").click(function () {
                var that = this;
                updateName($(this).parent(), -1, function (err) {
                    if (err)
                        alert('不明原因的错误');
                    else
                        moveName($(that).parent(), $("#DislikedNames"));
                });
            });
            $("button.name-candidate-pending").click(function () {
                var that = this;
                updateName($(this).parent(), 0, function (err) {
                    if (err)
                        alert('不明原因的错误');
                    else
                        moveName($(that).parent(), $("#PendingNames"));
                });
            });
        });
    </script>
</body>
</html>
