<!DOCTYPE html>
<html>
<head>
    <title><%=voter%>，给小孩选名字 - 投票</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/plugins/jquery-ui-1.10.3/css/sunny/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />
    <link href="/lib/NameCandidateGroup/NameCandidateGroup.css" rel="stylesheet" type="text/css" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/underscorejs/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="/lib/NameCandidateGroup/NameCandidateGroup.js" type="text/javascript"></script>
    <script src="/lib/page_voter_vote.js" type="text/javascript"></script>
</head>
<body>
    <h1><%=voter%>，请给小孩选名字 - 投票（<a href="/">返回主页</a>）</h1>
    <p>点击相应的按钮选择您喜欢的或者讨厌的名字</p>
    <div id="NamesContainer">
        <% var nameCategories = [
                    {id: "PreferredNames", category: "喜欢的名字", list: nameCandidates.preferred, actionButtonClass: "name-candidate-like", score: 1},
                    {id: "DislikedNames", category: "不喜欢的名字", list: nameCandidates.disliked, actionButtonClass: "name-candidate-dislike", score: -1},
                    {id: "PendingNames", category: "待定的名字", list: nameCandidates.pending, actionButtonClass: "name-candidate-pending", score: 0},
                    {id: "UnvotedNames", category: "未投票的名字", list: nameCandidates.unvoted},
                ];

                for( var i in nameCategories) { 
                    var category = nameCategories[i];
        %>
                    <div
                            id="<%=category.id%>" 
                            data-action-button-class="<%=category.actionButtonClass%>"
                            data-score="<%=category.score%>"
                            data-url="/<%=voter%>/voteFor"
                        >
                        <p><%=category.category%></p>
                        <% for (var j in category.list) { %>
    		                    <% nameCandidate = category.list[j] %>
                                <div data-id="<%=nameCandidate._id || ''%>">
                                    <span><%=nameCandidate.name%></span>
                                    <button class="name-candidate-like">喜欢</button>
                                    <button class="name-candidate-dislike">排除</button>
                                    <button class="name-candidate-pending">待定</button>
                                </div>
                        <% } %>
                    </div>      
        <% } %>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            new window.voter_vote($("#NamesContainer")).run();
        });
    </script>
</body>
</html>
